@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap');

body {
  color: #363636;
  background-color: #636363;
  font-family: 'Maven Pro', sans-serif;
  margin: auto;
  border: 1px solid lightcoral;
  width: 90%;
  height: 100%;
}

h1 {
  color: #000;
}

.App {

}

.search-header {
  width: 70%;
  margin: auto;
  padding-top: 1%;
  text-align: center;
}

.search-bar {
  border: none;
  width: 65%;
  height: 2em;
  margin-right: 0.25%;
  padding-left: 1em;
}

.btn {
  border: none;
  color: #000;
  font-weight: bold;
  background-color: #ffa500;
  cursor: pointer;
  font-family: inherit;
}

.search-btn {
  width: 30%;
  height: 2em;
  margin-left: 0.25%;
}